__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.gitignore
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
.git
.github
.cursor
.terraform
terraform/.terraform
terraform/*.tfstate*
terraform/.terraform.lock.hcl
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
*.log
*.zip
*.tar
*.tgz
node_modules
venv
.venv
dist
build
